<section class="[ post__about-the-author ]">
  <img
    src="/assets/images/me.jpeg"
    alt="The author, Ravi Pradhan, wearing a mobile VR headset. The photo has been stylised with light dithering."
  />
  <div class="[ stack ]">
    <h3>About the Author</h3>
    <p>
      <em>
        I'm a generalist software engineer and technologist with particular
        interests in web technologies, accessible digital public services, civic
        tech, and the intersection between ethics and digital culture.
      </em>
    </p>
  </div>
</section>
