<section class="[ post__about-the-author ] [ p-author h-card ]">
  <img
    src="/assets/images/me.jpeg"
    class="[ u-photo ]"
    alt="The author, Ravi Pradhan, wearing a mobile VR headset. The photo has been stylised with light dithering."
  />
  <div class="[ stack ]">
    <h3>About the Author</h3>
    <p>
      <em>
        <a rel="author" class="[ p-name u-url ]" href="https://ravii.dev"
          >Ravi Pradhan</a
        >
        is a generalist software engineer and technologist based in
        <span class="[ p-locality ]">Cardiff</span>,
        <span class="[ p-country-name ]">Wales</span>. He has particular
        interests in web technologies, accessible public services, civic tech,
        and the intersection between ethics and digital culture.
      </em>
    </p>
  </div>
</section>
