.site-head {
  padding-top: var(--space-s);
  padding-bottom: var(--space-m);
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s);
  justify-content: space-between;
  align-items: center;

  &__logo {
    font-family: var(--font-headings);
    padding: 0.5rem 1rem;
    border-radius: 8px;
    background: transparent;
    background-size: 200%;
    border: 2px solid var(--font-colour);
    text-decoration: none;
    font-size: var(--font-1);

    &:hover {
      cursor: pointer;
      background: var(--font-colour);
      color: var(--off-white);
    }
  }

  &__navigation {
    ul {
      display: flex;
      list-style-type: none;
      padding: 0;
      gap: var(--space-s);
    }

    a {
      font-family: var(--font-headings);
      font-weight: 700;
      text-decoration-thickness: 2px;
      text-underline-offset: 2px;
      text-transform: uppercase;
      letter-spacing: 1px;

      &:hover {
        text-underline-offset: 5px;
      }

      &:focus {
        outline-color: var(--accent);
        outline-offset: 0.5rem;
      }
    }

    a.current-link {
      color: var(--accent);
    }
  }
}
