---
layout: post_base
---

<h1 class="[ post__title ]">{{ page.title }}</h1>
<div class="[ post__meta-container ]">
  <dl class="[ post__meta ]">
    {% if page.date %}
    <dd>Published</dd>
    <dt>{{ page.date | date_to_string }}</dt>
    {% endif %}

    <dd>Reading time</dd>
    <dt>About {{ page.content | reading_time }}</dt>

    {% if page.categories %}
    <dd>Filed under</dd>
    <dt class="[ post__meta-category ]">
      {% for category in page.categories %} {% unless category == "writing" %}
      <a href="/categories/{{category}}"> {{ category | unslugify }}</a>
      {% endunless %} {% endfor %}
    </dt>
    {% endif %}
  </dl>
</div>

<section class="[ stack ] [ post__body ]">{{ content }}</section>
