<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/images/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/images/favicon-16x16.png"
    />
    <link rel="manifest" href="/assets/images/site.webmanifest" />
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta
      name="msapplication-config"
      content="/assets/images/browserconfig.xml"
    />
    <meta name="theme-color" content="#ffffff" />
    <title>{{ page.title }} | Ravi Pradhan</title>
    <link rel="stylesheet" href="/assets/styles/main.css" />
    {% feed_meta %} {% seo %}
  </head>
  <body>
    {% include navigation.html %}
    <main id="main-content">
      <article class="[ stack ] [ wrapper region ]">{{ content }}</article>
    </main>
    <footer class="[ wrapper region ] [ space-between ]">
      <section class="[ post__about-the-author ]">
        <img
          src="/assets/images/me.jpeg"
          alt="The author, Ravi Pradhan, wearing a mobile VR headset. The photo has been stylised with light dithering."
        />
        <div class="[ stack ]">
          <h3>About the Author</h3>
          <p>
            <em>
              I'm a generalist software engineer and technologist with
              particular interests in web technologies, accessible digital
              public services, civic tech, and the intersection between ethics
              and digital culture.
            </em>
          </p>
        </div>
      </section>
      {% include attributions.html %}
    </footer>
  </body>
</html>
